@import "tailwindcss";
@import "uniwind";

@layer theme {
	:root {
		@variant dark {
			--color-background: #0a0f1e;
			--color-primary: #ffffff;
			--color-secondary: #9ca6ba;
			--color-button-primary: #0e59f2;
			--color-button-secondary: #29313c;
			--color-button-tertiary: #ff2e55;
			--color-button-text-primary: #ffffff;
			--color-player-x: #4caf50;
			--color-player-o: #f44336;
			--color-board-bg: #101726;
			--color-board-border: #1c2739;
			--color-cell-bg: #111623;
		}
		@variant light {
			--color-background: #ffffff;
			--color-primary: #10162a;
			--color-secondary: #475569;
			--color-button-primary: #0e59f2;
			--color-button-secondary: #ff2e55;
			--color-button-tertiary: #ff2e55;
			--color-button-text-primary: #ffffff;
			--color-player-x: #4caf50;
			--color-player-o: #f44336;
			--color-board-bg: #e6e6e6;
			--color-board-border: #cbd5e1;
			--color-cell-bg: #f9fafb;
		}
	}
}
